<h1>SmartKetplace</h1>

<div class="content">
    <div class="col-12 col-md-6 offset-md-3" *ngIf="houses.length">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Area</th>
                    <th scope="col">Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let house of houses; let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{house.area}}m²</td>
                    <td>{{house.price}} ETH</td>
                    <td><button class="btn btn-info" (click)="showDetails(i+1)">Details</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-12 col-md-6 offset-md-3" *ngIf="!houses.length">
        No houses in the catalogue. You can be the first by <a href="#" routerLink="sell">clicking here</a> !
    </div>
</div>